/* line 2, animations.less */
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #240229;
  z-index: 999999;
}
/* line 12, animations.less */
.loader {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border: 4px solid #240229;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.4), inset -5px -5px 5px rgba(255, 255, 255, 0.2), inset 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.4), inset -5px -5px 5px rgba(255, 255, 255, 0.2), inset 10px 10px 10px rgba(0, 0, 0, 0.4);
}
/* line 26, animations.less */
.loader::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  z-index: 10;
  background: #240229;
  border-radius: 50%;
  border: 2px solid #240229;
  -webkit-box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2), inset 3px 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2), inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}
/* line 40, animations.less */
.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#14ffe9), color-stop(#ffeb3b), to(#ff00e0));
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-animation: rotate .5s linear infinite;
          animation: rotate .5s linear infinite;
  z-index: -1;
}
@-webkit-keyframes rotate {
  /* line 53, animations.less */
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* line 57, animations.less */
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  /* line 53, animations.less */
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* line 57, animations.less */
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes blink {
  /* line 65, animations.less */
  0% {
    opacity: 1;
  }
  /* line 66, animations.less */
  50% {
    opacity: 0;
  }
  /* line 67, animations.less */
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  /* line 65, animations.less */
  0% {
    opacity: 1;
  }
  /* line 66, animations.less */
  50% {
    opacity: 0;
  }
  /* line 67, animations.less */
  100% {
    opacity: 1;
  }
}
/* line 73, animations.less */
.slide_left {
  -webkit-animation: slideLeft 1s ease-in-out;
          animation: slideLeft 1s ease-in-out;
}
/* line 74, animations.less */
.slide_right {
  -webkit-animation: slideRight 1s ease-in-out;
          animation: slideRight 1s ease-in-out;
}
/* line 76, animations.less */
.hidden {
  opacity: 0;
}
/* line 77, animations.less */
.hidden2 {
  opacity: 0;
}
@-webkit-keyframes slideLeft {
  /* line 80, animations.less */
  0% {
    opacity: 0;
    left: -50rem;
  }
  /* line 84, animations.less */
  50% {
    left: 5rem;
  }
  /* line 87, animations.less */
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes slideLeft {
  /* line 80, animations.less */
  0% {
    opacity: 0;
    left: -50rem;
  }
  /* line 84, animations.less */
  50% {
    left: 5rem;
  }
  /* line 87, animations.less */
  100% {
    opacity: 1;
    left: 0;
  }
}
@-webkit-keyframes slideRight {
  /* line 93, animations.less */
  0% {
    opacity: 0;
    right: -50rem;
  }
  /* line 97, animations.less */
  50% {
    right: 5rem;
  }
  /* line 100, animations.less */
  100% {
    opacity: 1;
    right: 0;
  }
}
@keyframes slideRight {
  /* line 93, animations.less */
  0% {
    opacity: 0;
    right: -50rem;
  }
  /* line 97, animations.less */
  50% {
    right: 5rem;
  }
  /* line 100, animations.less */
  100% {
    opacity: 1;
    right: 0;
  }
}
