/*=================== GOOGLE FONTS ========================*/
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500;700&family=Catamaran:wght@400;500;700&display=swap');

:root {
    /*===================== Typography =======================*/
    --title-font: 'Catamaran', sans-serif;
    --text-font: 'Advent Pro', sans-serif;

    --regular-font: 400;
    --medium-font: 500;
    --bold-font: 700;

    /*==================== FONT SIZE =========================*/
    --big-font-size: 2.074rem; /* 33.18px */
    --h1-font-size: 1.728rem; /* 27.65px */
    --h2-font-size: 1.44rem; /* 23.04px */
    --normal-font-size: 1.2rem; /* 19.20px */
    --small-font-size: 0.833rem; /* 13.33px */

    /*================= COlORS =====================*/
    --first-color: rgba(205, 193, 255, 1);
    --second-color: rgba(165, 148, 249, 1);
    --third-color: rgba(255, 255, 255, 1);
    --paragraph-color: rgba(205, 201, 212, 1);
    --link-active: rgba(193, 182, 252, 1);
    --subtitle-color: rgba(229, 217, 242, 1);
    --header-footer-color: rgba(41, 0, 80, 1);
}
/*======================= BASE ==============================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    background-color: rgba(36, 0, 61, 1);
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.section {
    padding: 10rem 0;
    width: 1024px;
    margin: 0 auto;
}

.title {
    font-family: var(--title-font);
    font-weight: var(--bold-font);
    font-size: var(--big-font-size);
    color: var(--third-color);
    text-align: center;
}

.subtitle {
    font-family: var(--text-font);
    font-weight: var(--medium-font);
    font-size: var(--normal-font-size);
    color: var(--subtitle-color);
    text-align: center;
}

/*================================== LAYOUT ===========================*/
/* Menu */
.header__menu {
    background-color: var(--header-footer-color);
    padding: 1.5rem 5rem;
    box-shadow: 0 5px 20px 4px rgba(255, 255, 255, 15%);
    width: 100%;
    position: fixed;
    top: 0;
}

.menu {
    justify-content: space-between;
}

.list__menu {
    justify-content: space-evenly;
    align-items: center;
}

.list__item {
    margin: 0 1rem;
}

.logo__link {
    font-size: var(--normal-font-size);
    font-family: var(--title-font);
    font-weight: var(--bold-font);
    color: var(--second-color);
}

.logo__link:hover {
    color: var(--link-active);
}

.link__item {
    font-size: var(--normal-font-size);
    font-family: var(--title-font);
    font-weight: var(--medium-font);
    color: var(--second-color);
}

.link__item:hover {
    color: var(--link-active);
}

.link__active {
    color: var(--link-active);
}

/* Home section */

.home__container {
    justify-content: space-evenly;
    align-items: center;
}

.home__info {
    width: 40%;
    padding: 3.5rem 0;
    flex-direction: column;
    row-gap: 4rem;
}

.home__title-small {
    font-size: var(--h1-font-size);
    font-family: var(--text-font);
    font-weight: var(--medium-font);
    color: var(--subtitle-color);
}

.home__title,
.home__subtitle {
    color: rgba(255, 204, 51, 1);
    font-weight: var(--bold-font);
    font-family: var(--title-font);
}

.home__title {
    font-size: var(--h1-font-size);
}

.home__subtitle {
    font-size: var(--h2-font-size);
}

.social__link {
    color: var(--first-color);
    font-size: var(--h1-font-size);
}

.social__link:nth-of-type(1) {
    margin-right: 1rem ;
}

.social__link:hover {
    color: var(--second-color);
}

.home__img {
    width: 70%;
}

.img__banner {
    max-width: 100%;
    object-fit: contain;
}

.info__img {
    font-size: var(--small-font-size);
    font-family: var(--title-font);
    font-weight: 500;
    color: var(--subtitle-color);
}

.link {
    color: var(--subtitle-color);
    font-weight: var(--bold-font);
}

/* About section */
.about__container {
    margin-top: 5rem;
}

.img__about {
    width: 350px;
    border-radius: 1rem;
}

.about__data {
    margin-left: 2rem;
    width: 90%;
}

.about__description {
    color: var(--paragraph-color);
    font-family: var(--text-font);
    font-weight: var(--medium-font);
    font-size: var(--h2-font-size);
    line-height: 2;
}

.about__info {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.about__info-title, .about__info-name {
    display: block;
    text-align: center;
}

.about__info-title {
    font-family: var(--text-font);
    font-size: var(--h2-font-size);
    color: var(--third-color);
}

.about__info-name {
    font-family: var(--title-font);
    font-size: var(--normal-font-size);
    font-weight: var(--bold-font);
    color: var(--first-color);
    text-align: center;
}

.about__button {
    display: flex;
}

.button {
    display: inline-block;
    font-family: var(--text-font);
    background: rgba(75, 2, 140, 1);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: background .3s ease-in-out;
}

.button:hover {
    background: rgba(60, 0, 113, 1);
}

.button--flex {
    display: inline-flex;
    align-items: center;
}