@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u8w4BMUTPHjxswWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4bbLPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', 'Raleway', 'Poppins', sans-serif;
}
html,
body {
  height: 100%;
  background: #ffd166;
}
section {
  max-width: 100%;
}
a {
  font-family: 'Poppins';
  font-size: 1.4rem;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato';
  font-size: 2.5rem;
  color: white;
}
p {
  font-family: 'Raleway';
  font-size: 1.2rem;
  color: white;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}
.section__header {
  border-bottom: 5px solid white;
  width: 100%;
  text-align: center;
  padding: .5rem 0;
}
.section__header h2 {
  color: #ffd166;
  margin-bottom: .5rem;
}
aside .container,
#home .container,
#conhecimento .container,
#projetos .container,
#sobre .container {
  flex-direction: column;
}
#conhecimento,
#projetos,
#sobre {
  padding: 8rem 0 2rem;
}
aside .container {
  height: 100%;
  padding: 0 2%;
}
aside header {
  position: fixed;
  left: -300rem;
  top: 0;
  width: 30%;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  background: #1089b1;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}
aside header .header__img__wrapper {
  max-width: 100%;
}
aside header .header__img__wrapper img {
  width: 40%;
  border-radius: 50%;
  padding: 1rem;
}
aside header .header__img__wrapper p {
  font-size: 2rem;
  font-weight: 500;
}
aside header .menu__sidebar {
  text-align: left;
  position: relative;
  left: 0;
  top: 0;
  margin-top: 2rem;
  display: inline-block;
}
aside header .menu__sidebar li {
  margin-bottom: 8px;
  position: relative;
  opacity: 0;
}
aside header .menu__sidebar li:hover {
  border-radius: 20px;
  color: black;
  background: #ef486f;
  transition: .5s;
}
aside header .menu__sidebar li a {
  display: block;
  padding: 15px;
}
aside header .social__medias {
  margin-top: 2rem;
}
aside header .social__medias ul {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
aside header .social__medias li {
  position: relative;
  opacity: 0;
}
aside header .social__medias a {
  font-size: 2rem;
  color: black;
  transition: color .4s;
}
aside header .social__medias a:hover {
  color: white;
}
.active {
  transition: all .5s;
  border-radius: 20px;
  background: #ef486f;
}
.active a {
  color: black;
}
input#menu__hamburger[type=checkbox] {
  display: none;
}
input#menu__hamburger[type=checkbox]:checked ~ label[for=menu__hamburger] {
  left: 31%;
}
input#menu__hamburger[type=checkbox]:checked ~ label[for=menu__hamburger]:hover ~ span.close__hamburger {
  opacity: 1;
}
input#menu__hamburger[type=checkbox]:checked ~ label[for=menu__hamburger]:hover ~ span.open__hamburger {
  opacity: 0 !important;
}
input#menu__hamburger[type=checkbox]:checked ~ label span:nth-of-type(1) {
  transform: rotate(-45deg);
  top: 8px;
  height: 7px;
  box-shadow: none;
}
input#menu__hamburger[type=checkbox]:checked ~ label span:nth-of-type(2) {
  opacity: 0;
}
input#menu__hamburger[type=checkbox]:checked ~ label span:nth-of-type(3) {
  transform: rotate(45deg);
  top: 8px;
  height: 7px;
  box-shadow: none;
}
input#menu__hamburger[type=checkbox]:checked ~ header {
  left: 0;
}
label[for=menu__hamburger] {
  position: fixed;
  top: 4.5%;
  left: 3%;
  transition: 0.5s ease-in-out;
  z-index: 4;
  display: block;
  width: 30px;
  height: 22px;
  cursor: pointer;
}
label[for=menu__hamburger]:hover ~ span.open__hamburger {
  opacity: 1;
}
label[for=menu__hamburger] span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: white;
  transition: 0.25s ease-in-out;
  box-shadow: 5px 5px 3px black;
}
label[for=menu__hamburger] span:nth-of-type(1) {
  top: 0;
}
label[for=menu__hamburger] span:nth-child(2) {
  top: 8px;
}
label[for=menu__hamburger] span:nth-of-type(3) {
  top: 16px;
}
span.close__hamburger,
span.open__hamburger {
  opacity: 0;
  position: fixed;
  transition: 0.5s ease-in-out;
  top: 3.3%;
  left: 35%;
  background: #05d69e;
  width: 5rem;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  color: #111;
  z-index: 1;
}
span.close__hamburger::before,
span.open__hamburger::before {
  content: '';
  position: absolute;
  border-right: 1.5rem solid #05d69e;
  border-left: 0 solid transparent;
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  left: -1.5rem;
  top: 0;
}
span.open__hamburger {
  left: 7.5%;
}
#home {
  background-size: cover;
  background: url('../img/ash-edmonds-Koxa-GX_5zs-unsplash.jpg') no-repeat fixed center;
  width: 100vw;
  min-height: 100vh;
}
#home .container {
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}
#home .container .text__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}
#home .container .text__info h2,
#home .container .text__info p {
  text-align: center;
}
#home .container .text__info p {
  font: 300 2rem 'Raleway', 'Lato', 'Poppins', sans-serif;
  letter-spacing: .1rem;
  padding: 1rem;
  overflow: hidden;
}
#home .container .text__info .typed_text {
  margin-left: 1rem;
  font-family: 'Raleway';
  font-weight: 500;
  padding-bottom: 4px;
  border-bottom: 3px solid;
}
#home .img__info {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  font-family: 'Lato';
}
#home .img__info span {
  font-weight: lighter;
  font-size: 1.7rem;
}
#home .img__info span a:hover {
  text-decoration: underline;
}
.cursor {
  display: inline-block;
  width: 3px;
  margin-left: .2rem;
  animation: blink .7s infinite;
}
.typing {
  animation: none;
}
#conhecimento {
  background: linear-gradient(0deg, #ef476f, #ffd166, #06d6a0, #118ab2, #073b4c);
  width: 100%;
  overflow: hidden;
  min-height: 90vh;
}
#conhecimento .container {
  padding: 0 2%;
}
#conhecimento .conhecimento__wrapper {
  height: 100%;
  margin-top: 2rem;
  max-width: 100%;
}
#conhecimento .conhecimento__wrapper .conhecimento__limiter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
#conhecimento .conhecimento__wrapper .conhecimento__limiter:nth-of-type(2n + 1) {
  justify-content: flex-start;
}
#conhecimento .conhecimento__wrapper .conhecimento__limiter:nth-of-type(2n + 2) {
  justify-content: flex-end;
  text-align: right;
}
#conhecimento .conhecimento__wrapper .conhecimento__limiter:nth-of-type(1) .conhecimento__header i {
  color: orangered;
}
#conhecimento .conhecimento__wrapper .conhecimento__limiter:nth-of-type(2) .conhecimento__header i {
  background: linear-gradient(#000096, #00005e);
  margin-right: 1.4rem;
}
#conhecimento .conhecimento__wrapper .conhecimento__limiter:nth-of-type(2) .conhecimento__header i:nth-of-type(2) {
  color: #cc6699;
  background: none;
}
#conhecimento .conhecimento__wrapper .conhecimento__limiter:nth-of-type(3) .conhecimento__header i {
  color: gold;
}
#conhecimento .conhecimento__wrapper .conhecimento__limiter:nth-of-type(5) .conhecimento__header i {
  color: blue;
}
#conhecimento .conhecimento__wrapper .conhecimento__limiter .conhecimento__single {
  margin: 2rem 0;
  padding: 2.5rem 2%;
  background: linear-gradient(45deg, #073a4b 30%, transparent);
  width: 80%;
  border: 0px solid transparent;
  border-radius: 2rem;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1), inset -10px -10px 10px rgba(255, 255, 255, 0.2), inset 15px 15px 15px rgba(0, 0, 0, 0.1);
}
#conhecimento .conhecimento__header {
  color: white;
  padding: 0 2%;
}
#conhecimento .conhecimento__header h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
}
#conhecimento .conhecimento__header i {
  font-size: 3rem;
}
#conhecimento .conhecimento__header p {
  font-weight: bolder;
  font-style: italic;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
#conhecimento .conhecimento__text {
  padding: 0 2%;
}
#conhecimento .conhecimento__text p {
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 1.5;
  color: white;
}
#conhecimento .img__wrapper {
  max-width: 100%;
  text-align: center;
  margin-top: 2rem;
}
#conhecimento .img__wrapper img {
  width: 80%;
  object-fit: cover;
}
#projetos {
  background: #073a4b;
  padding: 7rem 0 2rem;
}
#projetos .container {
  justify-content: center;
  padding: 0 2%;
}
#projetos .projetos__wrapper {
  position: relative;
  width: 970px;
  display: flex;
  transform-style: preserve-3d;
  perspective: 500px;
  overflow: hidden;
  margin-top: 4rem;
}
#projetos .projetos__wrapper:hover .projetos__single {
  transform: rotateY(25deg);
}
#projetos .projetos__wrapper .projetos__single {
  position: relative;
  width: 30rem;
  height: 30rem;
  background: #000;
  transition: .5s;
  transform-style: preserve-3d;
  border-radius: 30px;
}
#projetos .projetos__wrapper .projetos__single:first-child {
  margin-right: 1rem;
}
#projetos .projetos__wrapper .projetos__single:last-child {
  z-index: 3;
}
#projetos .projetos__wrapper .projetos__single:hover {
  transform: rotateY(0deg) scale(1.15);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 30px;
}
#projetos .projetos__wrapper .projetos__single:hover ~ .projetos__single {
  transform: rotateY(-25deg);
}
#projetos .projetos__wrapper .projetos__single:hover .projetos__img__wrapper::before {
  opacity: 1;
}
#projetos .projetos__wrapper .projetos__single .projetos__img__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#projetos .projetos__wrapper .projetos__single .projetos__img__wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #073a4b, rgba(0, 0, 0, 0.5));
  border-radius: 30px;
  z-index: 1;
  opacity: 0;
  transition: .5s;
  mix-blend-mode: multiply;
}
#projetos .projetos__wrapper .projetos__single .projetos__img__wrapper img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
#projetos .projetos__wrapper .projetos__single .projetos__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 30px;
  opacity: 0;
}
#projetos .projetos__wrapper .projetos__single .projetos__text:hover {
  opacity: 1;
}
#projetos .projetos__wrapper .projetos__single .projetos__text div {
  margin-bottom: 2rem;
}
#projetos .projetos__wrapper .projetos__single .projetos__text:hover h2 {
  transform: translateY(0px);
  transition-delay: .4s;
  opacity: 1;
}
#projetos .projetos__wrapper .projetos__single .projetos__text:hover p {
  transform: translateY(0px);
  transition-delay: .5s;
  opacity: 1;
}
#projetos .projetos__wrapper .projetos__single .projetos__text h2 {
  color: #ffd166;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: .5s;
  margin-bottom: 5px;
  transform: translateY(40rem);
  opacity: 0;
}
#projetos .projetos__wrapper .projetos__single .projetos__text p {
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 1.3rem;
  transition: .5s;
  transform: translateY(40rem);
  opacity: 0;
  margin: 1rem 0;
}
#projetos .projetos__wrapper .projetos__single .projetos__text p a {
  transition: .5s;
  margin-top: .5rem;
}
#projetos .projetos__wrapper .projetos__single .projetos__text p a:hover {
  text-decoration: underline;
}
#certified {
  background: linear-gradient(#6d01b9, #370157);
}
#sobre {
  background: linear-gradient(45deg, #2f0150, #800080);
  padding: 6rem 0;
}
#sobre .container {
  padding: 0 2%;
}
#sobre .sobre__container {
  margin-top: 5rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2%;
}
#sobre .sobre__container .sobre__text {
  text-align: right;
  width: 55%;
}
#sobre .sobre__container .sobre__text h2 {
  margin-bottom: 1rem;
  font-family: 'Raleway';
}
#sobre .sobre__container .sobre__text p {
  line-height: 1.2;
  letter-spacing: 1px;
  font-family: 'Lato';
}
#sobre .sobre__container .img__wrapper {
  width: 40%;
  text-align: left;
}
#sobre .sobre__container .img__wrapper img {
  width: 70%;
  object-fit: cover;
  border: 5px solid black;
  border-radius: 2%;
}
footer {
  padding: 2rem 0;
}
footer .container {
  padding: 0 2%;
  justify-content: space-between;
}
footer .container p {
  color: #111;
  font-weight: 600;
}
.back__to__top {
  position: fixed;
  display: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  right: 1rem;
  bottom: 6rem;
  background: #05d69e;
  transition: display 0.5s ease-in-out;
  z-index: 2;
}
.back__to__top i {
  font-size: 24px;
  position: absolute;
  top: 9px;
  left: 11px;
}
.back__to__top:hover {
  color: #fff;
  background: #0cf3b5;
  transition: background 0.2s ease-in-out;
}
.switch__container {
  position: fixed;
  left: 1rem;
  bottom: 6rem;
  z-index: 2;
}
.switch__container p {
  margin-bottom: 10px;
}
.switch__container input.switch {
  position: absolute;
  display: none;
  visibility: hidden;
}
.switch__container label {
  height: 22px;
}
.switch__container input.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.switch__container input.switch__shadow + label {
  padding: 2px;
  width: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
.switch__container input.switch__shadow + label:before,
.switch__container input.switch__shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.switch__container input.switch__shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: all 0.4s;
}
.switch__container input.switch__shadow + label:after {
  width: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch__container input.switch__shadow:checked + label:before {
  background-color: #8ce196;
}
.switch__container input.switch__shadow:checked + label:after {
  transform: translateX(36px);
}
.night-mode {
  background: #444;
}
.night-mode aside header {
  background: #2b2b2b;
}
.night-mode aside header .social__medias a {
  color: white;
}
.night-mode h2,
.night-mode a,
.night-mode p {
  color: #dddddd;
}
.night-mode html,
.night-mode body {
  background: #2b2b2b;
}
.night-mode #conhecimento,
.night-mode #projetos,
.night-mode #sobre {
  background: #303030;
  transition: background .5s;
}
.night-mode .section__header {
  background: #1f1e1e;
}
.night-mode footer {
  background: #3f3f3f;
}
.night-mode footer .container p {
  color: #dddddd;
}
.night-mode #conhecimento .conhecimento__wrapper .conhecimento__limiter .conhecimento__single {
  background: linear-gradient(45deg, #000000, transparent);
}
.night-mode #conhecimento .conhecimento__header h2,
.night-mode #conhecimento .conhecimento__header p {
  color: white;
}
.night-mode #conhecimento .conhecimento__text p {
  color: white;
}
.night-mode #projetos .projetos__wrapper .projetos__single .projetos__img__wrapper {
  border-color: white;
}
.night-mode #sobre .sobre__container .img__wrapper img {
  border-color: white;
}
@media screen and (min-width: 1980px) {
  .section__header {
    max-width: 80%;
  }
  #conhecimento .container .conhecimento__wrapper {
    max-width: 80%;
  }
  #projetos .projetos__wrapper {
    max-width: 80%;
  }
  #sobre .sobre__container {
    max-width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  #projetos .projetos__wrapper {
    width: 100%;
  }
  #projetos .projetos__wrapper:hover .projetos__single {
    transform: rotate(0deg);
  }
  #projetos .projetos__wrapper .projetos__single {
    width: 100%;
  }
  #projetos .projetos__wrapper .projetos__single:first-child {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  #projetos .projetos__wrapper .projetos__single:hover {
    transform: rotate(0deg) scale(0.95);
  }
  #projetos .projetos__wrapper .projetos__single:hover ~ .projetos__single {
    transform: rotate(0deg);
  }
  #projetos .projetos__wrapper .projetos__single .projetos__text div {
    width: 90%;
  }
  #sobre {
    padding: 10.5rem 0;
  }
}
@media screen and (max-width: 960px) {
  aside header {
    width: 100%;
  }
  aside header .menu__sidebar {
    text-align: center;
  }
  input#menu__hamburger[type=checkbox]:checked ~ label[for=menu__hamburger] {
    left: 85%;
  }
  span.close__hamburger,
  span.open__hamburger {
    display: none;
  }
  h2 {
    font-size: 2rem !important;
  }
  #home {
    background-attachment: scroll;
  }
  #conhecimento .container .conhecimento__wrapper .conhecimento__limiter {
    text-align: center !important;
  }
  #conhecimento .container .conhecimento__wrapper .conhecimento__limiter .conhecimento__single {
    width: 100%;
    box-shadow: none !important;
  }
  #projetos .projetos__wrapper {
    flex-direction: column;
  }
  #projetos .projetos__wrapper .projetos__single {
    width: 100%;
    margin: 2rem 0;
  }
  #sobre .sobre__container .sobre__text {
    width: 100%;
    text-align: center;
  }
  #sobre .sobre__container .img__wrapper {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #projetos .projetos__wrapper .projetos__single .projetos__text div {
    width: 100%;
  }
}
@media screen and (max-width: 410px) {
  #projetos .projetos__wrapper .projetos__single {
    min-height: 36rem;
  }
}
