@import 'reset';

//  Header
header {
    background: @international-orange-aerospace;
    z-index: 3;
    transition: 1s;
}

header .container {
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 25px 0;
}

.header__logo {
    padding-left: 3rem;
    a{
        font-size: 2rem;
    }
}

#marker,
#marker-2 {
    position: absolute;
    left: 0;
    height: 55px;
    background: @turquoise-blue;
    transition: .5s;
    border-radius: 2px;
    margin-right: -5px;
}

#marker-2 {top: 0;}

.header__menu__desktop {
    margin-right: 30px;
    ul {
        position: relative;
    }
    li {
        display: inline-block;
    }
    a {
        position: relative;
        display: block;
        padding: 10px;
        transition: .7s;
        &:hover {
            color: black;
        }
    }
}

.header__menu__fixed {
    position: fixed;
    background: rgba(253, 80, 0, .7);
    transition: 1s;
    width: 100%;
}

.header__menu__fixed > div.header__social__media {
    display: none ;
}

.header__social__media,
.header__social__media__mobile,
.footer__social__media {
    position: relative;
    top: 70%;
    ul {
        display: flex;
        justify-content: space-evenly;
        position: relative;
    }
    li{
        position: relative;
    }
    a::before {
        font-family: fontAwesome;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 2rem;
        height: 0;
        margin-right: -5px;
        overflow: hidden;
        transition: .5s ease-in-out;
    }
    li:nth-child(1) a::before {
        content: '\f09a';
        color: #1d21f2;
        border-bottom: 4px solid #1d21f2;
    }
    li:nth-child(2) a::before {
        content: '\f113';
        color: white;
        border-bottom: 4px solid white;
    }
    li:nth-child(3) a::before {
        content: '\f099';
        color: #1da1f2;
        border-bottom: 4px solid #1da1f2;
    }
    li:hover a::before{
        height: 100%;
    }
    .fa {
        color: #222;
        font-size: 2rem;
    }
}

.header__social__media {
    ul {
        justify-content: flex-end;
        padding-top: 20px;
        padding-right: 20px;
    }
    li {
        margin-right: 15px;
    }
}

@-moz-document url-prefix() {
    .header__social__media,
    .header__social__media__mobile{
        a::before {
            top: -3px;
            left: .3px;
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .header__social__media,
    .header__social__media__mobile{
        a::before {
            left: .3px;
        }
    }
}

.header__social__media__mobile {
    .fa {
        font-size: 2rem;
    }
    a::before {
        font-size: 2rem;
    }
}

//  Menu Mobile

input[type=checkbox] {
    display: none;
    &:checked ~ label .hamburger{
        transform: rotate(45deg);
        height: 7px;
    }
    &:checked ~ label .hamburger::before {
        transform: rotate(90deg);
        top: 0;
    }
    &:checked ~ label .hamburger::after {
        transform: rotate(90deg);
        bottom: 0;
    }
    &:checked ~ aside {
        right: 0;
    }
}

label {
    position: relative;
    right: 5%;
    display: none;
    z-index: 2;
}

.hamburger {
    display: block;
    background-color: black;
    width: 40px;
    height: 5px;
    position: relative;
    transition: .35s ease-in-out;
    cursor: pointer;
    z-index: 1;
    &::after,
    &::before{
        content: '';
        background-color: black;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .35s ease-in-out;
    }
    &::after{
        bottom: -10px;
    }
    &::before {
        top: -10px;
    }
}

.menu__sidebar {
    position: fixed;
    width: 30%;
    height: 100%;
    top: 0;
    right: -70rem;
    background: @international-orange-aerospace;
    transition: .5s ease-in-out;
    z-index: 1;
    .header__menu__mobile {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        ul {
            position: relative;
        }
        li {
            margin-bottom: 20px;
        }
        a {
            position: relative;
            padding: 10px;
        }
    }
}

//  Section__banner
section {
    overflow: hidden;
}

.section__banner {
    width: 100%;
}

.section__img__wrapper {
    width: 100%;
    img{
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
        animation: zoom 25s 2s;
    }
}

@keyframes zoom {
    0%{
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.section__banner__info {
    position: absolute;
    top: 40%;
    left: 10%;
    h2 {
        font-size: 3rem;
        text-shadow: 10px 10px 5px black;
        animation: moveIn 1s 2s;
        position: relative;
    }
    p {
        font-size: 2rem;
        margin: 15px 0;
        animation: moveIn 1.5s 2s;
        position: relative;
    }
}

@keyframes moveIn {
    0% {
        bottom: -70px;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

.info__img {
    position: relative;
    color: white;
    span {
        position: absolute;
        right: 15%;
        bottom: 50px;
        font-family: @fontText;
        font-size: 1.4rem;
        a:hover{
            text-decoration: underline;
        }
    }
}

//  Section__sobre
#Sobre {
    padding: 4rem 0;
    width: 95%;
    background-color: teal;
    position: relative;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 10px 10px 3px white;
}

#Sobre .container {
    justify-content: space-evenly;
    align-items: center;
    .author__info {
        width: 50%;
        text-align: right;
        padding: 20px 2%;
        h2 {
            font-size: 2rem;
            font-weight: 500;
        }
        p{
            padding: 10px 0;
            letter-spacing: 2px;
        }
    }
    .author__img {
        display: flex;
        justify-content: center;
        width: 50%;
        img {
            background-size: cover;
            width: 40%;
            border-radius: 50%;
        }
    }
}

//  Section__conhecimentos
#Conhecimentos {
    padding-top: 6rem;
    .container {
        flex-direction: column;
    }
}

.conhecimentos__header {
    text-align: center;
    h2{
        position: relative;
        display: inline-block;
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: black;
        }
    }
}

.conhecimento__wrapper {
    text-align: center;
    width: 100%;
    margin: 40px 0;
    .conhecimento__single {
        width: 100%;
        display: inline-block;
        padding: 30px 2%;
        position: relative;
        &:nth-of-type(1) .conhecimento__header i {color: orangered;}
        &:nth-of-type(2) .conhecimento__header i {
            color: blue;
            margin-right: 20px;
            &:nth-of-type(2) {color: pink;}
        }
        &:nth-of-type(3) .conhecimento__header i {color: gold;}
        &:nth-of-type(5) .conhecimento__header i {color: blue;}
        .conhecimento__header {
            h2{
                margin: 10px 0;
                font-size: 2rem;
                font-weight: 300;
            }
            i {
                font-size: 3.5rem;
                color: white;
            }
        }
        .conhecimento__text {
            letter-spacing: 2px;
        }
    }
}

.fade-in-element {animation: fadeIn 2s ;}

.hidden {opacity: 0;}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: scale(2,2);
    }
    to {opacity: 1;}
}

//  Footer
footer {
    background: @orange-red;
    width: 100%;
    padding: 40px 2% 20px 2%;
    p{
        display: inline-block;
        width: 80%;
    }
    .footer__social__media {
        display: inline-block;
        li {
            margin-right: 25px;
        }
    }
}
//  Media querys
@media screen and (max-width: 868px) {
    .header__menu__desktop,.header__social__media {display: none;}
    label{display: block;}

    .menu__sidebar {
        width: 100%;
    }

    .section__banner__info {
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.7rem;
        }
    }

    .info__img {
        span {
            font-size: 1.2rem;
        }
        a {
            font-size: 1rem;
        }
    }

    #Sobre .container {
        .author__info {
            width: 100%;
            text-align: center;
        }
    
        .author__img {
            display: none;
        }
    }

    footer {
        .container {flex-wrap: wrap;}
        p {width: 100%; display: block; margin-bottom: 20px;}
    }
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }
}